# Visual Studio
.vs/

# Builds
*.unitypackage

# Other folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb